//* 联系我们 begin
//& <=1384px时 
@media (max-width:1384px) {
    .my_message {
        min-height: 1172px;
        display: flex !important;
        //更改主轴方向
        flex-direction: column !important;
        align-items: center !important;

        .Contact_text {
            position: static !important;
            margin-top: 113px !important;
            margin-bottom: -68px !important;

        }

        .Big_maple_leaf {
            top: 570px !important;
            left: 0 !important;
        }

        .Message_box {
            width: 768px !important;
            display: flex !important;
            //更改主轴方向
            flex-direction: column !important;
            align-items: center !important;

            .button {
                button {
                    background-color: rgba(0, 0, 0, 0.9) !important;
                }
            }
        }
    }

    .DownLoad_right {
        margin: 18px 0 !important;
        // 更改主轴方向
        flex-direction: column !important;

        .app_store {
            margin-bottom: 9px !important;
        }

        .google_play {
            width: 141px !important;

            img {
                width: 100% !important;
            }
        }
    }

    .DownLoad_l {
        width: 156px !important;
        ;
    }

    .Download_text_title {
        img {
            min-width: 155.01837px !important;
            height: 85.91068px !important;
        }
    }

    .map {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

        .map_img {
            min-width: 575px !important;
            height: 817.492px !important;
            overflow: hidden !important;

            img {
                min-width: 575px !important;
                height: 100% !important;
                object-fit: cover !important;
                // height: 817.492px !important;
            }
        }
    }

    .Get_in_touch_box {



        .Maple_leaf_image {
            position: absolute !important;
            margin-top: 65px !important;
            margin-left: 182px !important;
        }


    }

}

//* 联系我们 end












/* <=2400px时 */
@media (max-width:2400px) {}

/* <=2080px时 */
@media (max-width:2080px) {}

/* <=1760px时 */
@media (max-width:1760px) {}

/* <=1760px时 */
@media (min-width:1600px) {}

/* <=1760px时 */
@media (max-width:1600px) {}

/* <=1515px时 */
@media (max-width:1515px) {}

/* <=1120px时 */
@media (max-width:1120px) {}

/* >=1280px时 */
@media (max-width:1280px) {}

/* <=1280px时 */
@media (max-width:1280px) {}

/* <=1080px时 */
@media (max-width:1080px) {}

/* <=1024px时 */
@media (max-width:1024px) {}

/* <=960px时 */
@media (max-width:960px) {}

/* <=768px时 */
@media (max-width:768px) {}

/* <=800px时 */
@media (max-width: 845px) {}

/* <=480px时 */
@media (max-width:480px) {}